html {
  background: #eee;
}

:root {
  --header-height: 60px;
  --primary: #91caff;
  --warning: #fffb8f;
  --info: white;
  --danger: #ff4d4f;
  --text-color: #000000;
  --border-color: #8c8c8c;
  --icon-color: #4096ff;
}
