.menu-style {
  position: fixed;
  top: 15px;
  width: 200px;
}
.left-menu-container {
  width: 200px;
}

.body-container {
  background-color: var(--module-card-background);
  padding: 15px 30px 15px 30px !important;
  border-radius: var(--border-radius);
  height: calc(100vh - 100px);
  overflow-y: auto;
}
